
#headerLandingPage {
    background-image: url("../assets/Mask.png");
    display: flex;
    flex-direction: row;
    height: 208px;
    width: 1440px;
justify-content: space-between;
}
#logoHeaderLandingPage {
    height: 57px;
    width: 240px;
    margin-left: 162px;
    margin-top: 32px;
}
