#Parent {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: center;
}

#content {
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
  align-items: flex-start;
}

@media screen and (max-width: 1160px) {
  #content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: center;
  }

  #Parent {
    overflow-x: hidden;
  }
}

#content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
  align-items: flex-start;
}

.Footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}
