#HeaderLandingPageNavMenu{
    height: 30px;
    width: 123px;
    display: flex;
    justify-content: space-between;
    margin-right: 162px;
    margin-top: 32px;
}
a{
    color: white;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 21px;
}
a:hover{
    cursor: pointer;
}

#underline{
    box-sizing: border-box;
  height: 2px;
  width: 100%;
  border: 2px solid #E95E30;
  margin-top: 8px;

}
#navMenuParent{
    display: flex;
    flex-direction: column;
}