#PostsParent{
  display: flex;
 flex-wrap: wrap;
}

#postsButton{
  padding-top: 90px;
  width: 158px;
  align-self: center;
  padding-bottom: 24px;
}

#PostsComponentParent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 642px;
  margin-left: 24px;
 padding-left: 24px;
 padding-top: 24px;
 background-color: #FFFFFF;
}