#PostsParent {
  display: flex;
  flex-wrap: wrap;
}
#postsButton {
  padding-top: 90px;
  width: 158px;
  align-self: center;
  padding-bottom: 24px;
}

#PostsComponentParent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 642px;
  margin-left: 24px;
  padding-top: 24px;
  background-color: #ffffff;
}

@media screen and (max-width: 1160px) {
  #PostsParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #PostsComponentParent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 24px;
    background-color: #ffffff;
    width: 90%;
    margin-left: 0px;
    padding-left: 0px;
    // padding: 16px;
    align-items: center;
  }
}

@media (min-width: 1441px) {
  #PostsComponentParent {
    width: 975px;
  }
  #PostsComponentParent {
    padding-left: 24px;
  }
}
